
.footer-logo {
    width: 80px;
  }
  
  .partner-logo {
    width: 120px;
    max-width: 100%;
  }
  
  .nav-link {
    font-size: 14px;
  }
  
  .nav-link i {
    font-size: 18px;
  }

  footer {
    background-color: #F6F6F6 !important;
  }
  