@keyframes slideLeft {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  50% {
    transform: translateX(0); /* Pause in the middle (stay at center) */
  }
  100% {
    transform: translateX(-100%); /* Move to the left (off screen) */
  }
}

.campaign-item {
  animation: slideLeft 10s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  opacity: 1;
  width: 80vw; /* Set the width to 80% of the viewport */
  flex-shrink: 0; /* Prevent shrinking of the campaign item */
  animation-timing-function: ease-in-out;
}

/* Apply delay based on the position of the item to ensure a smooth transition */
.campaign-item:nth-child(1) {
  animation-delay: 0s;
}

.campaign-item:nth-child(1) {
  animation-delay: 10s; /* Delay to start after the first item completes */
}

.campaign-item:nth-child(2) {
  animation-delay: 20s; /* Delay to start after the second item completes */
}

.campaign-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 100%;
  z-index: 99;
}
